<mat-card>
    <mat-card-title style="display: flex; justify-content: center;">
        <ng-container *ngIf="this.editing; else add"><mat-icon>edit</mat-icon><h2>Edit</h2></ng-container>
        <ng-template #add><mat-icon>add</mat-icon><h2>Add</h2></ng-template>
        <ng-container><h2>&nbsp;Service</h2></ng-container>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="this.serviceForm" style="display: flex; flex-direction: column;">
            <mat-form-field appearance="outline">
                <mat-label>Service Name</mat-label>
                <input autocomplete="off" matInput placeholder="Service Name" formControlName="name">
                <mat-error *ngIf="this.serviceForm.get('name').hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="this.serviceForm.get('name').hasError('maxLength')">Name length should not be greater than 50 characters</mat-error>
                <mat-error *ngIf="this.serviceForm.get('name').hasError('unique')">Service with such name already exists.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea autocomplete="off" matInput matTextareaAutosize matAutosizeMinRows="7" matAutosizeMaxRows="10"
                          placeholder="Description" formControlName="description"
                ></textarea>
                <mat-error *ngIf="this.serviceForm.get('description').hasError('maxLength')">Description length should not be greater than 1000 characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select placeholder="Category" formControlName="categoryId">
                    <mat-option *ngFor="let category of this.categories$ | async" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="this.serviceForm.get('categoryId').hasError('required')">This field is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Employees</mat-label>
                <mat-select formControlName="employeeIds" placeholder="Employees" multiple #employeesMultiSelect>
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search" [formControl]="employeesMultiFilterControl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let employee of this.employees$ | async" [value]="employee.id">{{employee.fullName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="this.serviceForm.get('employeeIds').hasError('required')">This field is required.</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: flex-end;">
        <button color="primary" [disabled]="this.serviceForm.invalid" mat-raised-button (click)="onSubmit()">Save</button>
        <button color="accent" mat-raised-button (click)="onCancelClick()">Cancel</button>
    </mat-card-actions>
</mat-card>
