<ng-scrollbar>
    <div class="table-content-container">
        <div *ngIf="isLoading" class="progress-bar">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div>
            <h2>Clients</h2>
            <mat-divider></mat-divider>
        </div>
        <app-table-component
                [totalItems$]="this.totalItems$"
                [columnDefs]="this.columnDefs"
                [data$]="this.clients$"
                [policyToAddResource]="Policy.AddClients"
                [policyToEditResource]="Policy.EditClients"
                [policyToDeleteResource]="Policy.DeleteClients"
                [showDialogOnEditInsteadOfPage]="true"
                (onAnyChange)="this.onChange($event)"
                (openDialogToAddOrEdit)="this.openAddEditDialog($event)"
                (onDelete)="this.deleteClient($event)"
                defaultSort="email"
        ></app-table-component>
    </div>
</ng-scrollbar>
