<div class="root-email-container">
    <span class="header-message">Registration is almost complete!</span>
    <img src="https://i.pinimg.com/originals/8c/95/7b/8c957b1d5b6262dd171f288eeadcabd7.gif" alt="">
    <div class="message">
        <p>We've sent a message with the password to your email</p>
    </div>
    <span class="email" (click)="redirectToEmailSite()">{{emailRedirectionModel.email}}</span>
    <div class="sign-in-link">
        <span><a routerLink="/login">Sign In</a>&nbsp;to finish registering company right now!</span>
    </div>
</div>
