<app-mat-loading *ngIf="this.isLoading"></app-mat-loading>
<mat-card>
    <mat-card-title>
        <h2>Change account password</h2>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="this.form" style="display: flex; flex-direction: column;">
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput [type]="this.hideOldPassword ? 'password' : 'text'" required formControlName="oldPassword">
                <mat-icon matSuffix (click)="this.hideOldPassword = !this.hideOldPassword">{{this.hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="this.form.get('oldPassword').hasError('required')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [type]="this.hideNewPassword ? 'password' : 'text'" required formControlName="newPassword">
                <mat-icon matSuffix (click)="this.hideNewPassword = !this.hideNewPassword">{{this.hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="this.form.get('newPassword').hasError('required')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Repeat New Password</mat-label>
                <input matInput [type]="this.hideRepeatNewPassword ? 'password' : 'text'" required formControlName="repeatNewPassword">
                <mat-icon matSuffix (click)="this.hideRepeatNewPassword = !this.hideRepeatNewPassword">{{this.hideRepeatNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="this.form.get('repeatNewPassword').hasError('areNotEqual')">New password mismatch</mat-error>
                <mat-error *ngIf="this.form.get('repeatNewPassword').hasError('required')">This field is required</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: flex-end;">
        <button mat-raised-button color="primary" [disabled]="this.form.invalid" (click)="this.save()">Save</button>
        <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
    </mat-card-actions>
</mat-card>
