@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-action-buttons($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .edit-btn {
    //background-color: mat-color($primary);
    color: mat-color($primary);
  }

  .delete-btn {
    //background-color: mat-color($accent);
    color: mat-color($accent);
  }
}

@include mix-action-buttons($app-theme);

.table-container {
  display: flex;
  flex-direction: column;
}

.table-header {
  align-self: flex-end;
  display: flex;
}

.mobile-label {
  display: none;
}

::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-line;
  border-radius: 4px;
  max-width: unset !important;
}



.mat-header-cell.number-column,
.mat-cell.number-column {
  flex: 0 0 7%;
}

.mat-header-cell.large-text,
.mat-cell.large-text {
  flex: 0 0 35%;
}

.mat-header-cell.actions,
.mat-cell.actions {
  flex: 0 0 10%;
}

.mat-header-cell.standard-text,
.mat-cell.standard-text {
  flex: 0 0 20%;
}

@media (max-width: 1220px) {
  .table-header {
    align-self: center;
    display: flex;
  }

  .mobile-label {
    width: 80%;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

@media (max-width: 830px) {
  :host ::ng-deep app-search-button {
    & mat-form-field {
      width: 130px;
    }
  }

  .filter-fields {
    width: 130px;
  }
}
