:host ::ng-deep .mat-card {
  //background-color: #f2f4f5;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form {
  display: flex;
}

.fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

mat-form-field {
  width: 230px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-field-wrapper {
  width: 600px;
  display: flex;

  & mat-form-field {
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  mat-form-field {
    width: 340px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

